@model List<PlayerList>

@{
    ViewData["Title"] = "球員清單";
}

<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-12">
            <h2>
                球員清單
            </h2>
        </div>
        <form method="get" action="/Player/Index">
            <div class="row mb-2">
                <div class="col-md-2">
                    <input class="form-control me-sm-2" type="number" name="id" id="id" placeholder="請輸入ID" min="1" value="@ViewData["id"]" />
                </div>
                <div class="col-md-2">
                    <input class="form-control me-sm-2" type="number" name="number" id="number" placeholder="請輸入球員號碼" min="1" value="@ViewData["number"]" />
                </div>
                <div class="col-md-2">
                    <input class="form-control me-sm-2" type="text" name="name" id="name" placeholder="請輸入球員名稱" value="@ViewData["name"]" />
                </div>
                <div class="col-md-2">
                    <button class="btn btn-primary my-2 my-sm-0" type="submit"> <i class="bi bi-search"></i> 查詢</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-12 text-start mb-2">
        <a asp-controller="Player" asp-action="Create" class="btn btn-success">
            <i class="bi bi-plus-circle"></i> 新增類別
        </a>
    </div>
    <table class="table  table-bordered table-striped table-hover">
        <thead>
            <tr class="table-dark">
                <th>ID</th>
                <th>球隊</th>
                <th>號碼</th>
                <th>名稱</th>
                <th>身高/體重</th>
                <th>位置</th>
                <th>初登板時間</th>
                <th>建立時間</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model.OrderBy(u => u.Id))
            {
                <tr>
                    <td>@i.Id</td>
                    <td>@i.Team</td>
                    <td>@i.Number</td>
                    <td>@i.Name</td>
                    <td>@Convert.ToInt32(i.Height) (cm) / @Convert.ToInt32(i.Weight) (kg)</td>
                    <td>@i.Position</td>
                    <td>@i.FirstDate?.ToString("yyyy-MM-dd")</td>
                    <td>@i.CreatedTime.ToString("yyyy-MM-dd")</td>
                    <td>
                        <div class="d-flex justify-content-center align-items-center w-100" role="group">
                            <a asp-controller="Player" asp-action="Edit" asp-route-id="@i.Id" class="btn  btn-info me-2">
                                <i class="bi bi-pencil-square"></i>
                                編輯
                            </a>
                            <a asp-controller="Player" asp-action="Delete" asp-route-id="@i.Id" class="btn  btn-warning">
                                <i class="bi bi-x-circle-fill"></i>
                                刪除
                            </a>
                            <!-- 直接刪除
                            <form method="post" action="/Player/Delete" class="d-inline">
                                <input type="hidden" name="id" value="@i.Id" />
                                <button type="submit" class="btn  btn-danger "><i class="bi bi-x-circle-fill"></i> 刪除</button>
                            </form>
                            -->
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

